@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: linear-gradient(-180deg, #f53d2d, #f63);
    --color-rgb: #f53d2d;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav ul li a {
  color: var(--color-rgb) !important;
}

footer {
  color: var(--color-rgb);
}

.price {
  color: var(--color-rgb)
}